.titleProyDem{
    font-size: 15px;
    margin: 7px;
    color: #424242;
}

.TitleCert{
    margin-bottom: 6pc;
    color: white;
    background-color: #0000008c;
    display: inline-flex;
    padding: 10px;
    border-radius: 10px;
}

.contH3Proy{
    background-color: #000000ba;
    display: inline-table;
    padding: 8px;
    border-radius: 10px;
    color: white;
}