.PhraseBoxHome {
  height: auto;
  color: #f1f1f1;
  backdrop-filter: saturate(180%) blur(10px);
  background-image: url(https://wallpapercave.com/wp/wp2730878.gif);
  background-size: cover;
  background-attachment: fixed;
}

.PhraseSecondScreen {
  font-size: 4pc;
  line-height: 0.9;
}

.subTitleMain {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 1pc;
  color: #161318;
}
