.mainScreenText {
  color: white;
}

.designMainPage {
  /* background-color: blue; */
}

.defineShape {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #620062;
}

.mainScreenText {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.mainScreenText:first-of-type {
  animation: showup 7s infinite;
}

.mainScreenText:last-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}

.mainScreenText:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

.txtMP {
  color: white;
  line-height: 0.9;
}

.txtMPSmall {
  color: rgb(146, 255, 0);
}

.someTextHere {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
