.WhoIsJoaco {
  color: white;
  display: flex;
  text-align: left;
  margin: 20px;
}

.TechInfo {
  color: #ababab;
  display: flex;
  text-align: left;
  margin: 20px;
}

.aboutJoacoMain{
  margin-bottom: 10pc;
}
