.footerHome{
    overflow: auto!important;
    width: 100%!important;
    height: 190px;
    color: #cacaca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 0px!important;
    margin-right: 0px!important;
    background: #270027;
    box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px;
}


