.footerHome{
    overflow: auto!important;
    padding: 25px;
    height: auto;
    color: #cacaca;
    background: #000000ad;
    box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px;
}

.listFoot1{
    color: #787878;
    margin: 0;
}

.titleFootList{
    margin: 0;
    margin-bottom: 15px;
}

.everyUlList{
    margin: 0;
    line-height: 1.2;
}

.columFootInf{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contInptNav{
    display: flex;
    width: 4pc;
    margin-top: 12px;
}