.bg-generalNB{
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    background: #1a1a1a96;
    backdrop-filter: saturate(180%) blur(10px);
    box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px;
}

.mainFontNav{
    color: white;
    font-size: 22px;
}

.mainFontNav:hover{
    color: rgb(209, 209, 209);
    font-size: 27px;
}

.titleMainFont{
    margin: 0;
    background-color: #620062;
    color: white;
    border-radius: 11px;
    font-size: 12px;
    width: 60px;
    margin-left: 9px;
}

.titleMainFont:hover{
    background-color: white;
    color: #620062;
}

.logoNameNav{
    display: flex;
    align-items: center;
}

#liSocialMedia{
    color: gray;
}

#liSocialMedia:hover{
    margin-right: 15px;
    color: rgb(13, 202, 240);
}

#middleTextpro{
    color: black;
    background-color: rgb(13, 202, 240);;
    padding: 7px;
    border-radius: 24px;
}

#middleTextpro:hover{
    color: rgb(13, 202, 240);
    color: black
}

.imgNavbar{
    width: 35px;
    border-radius: 25px;
    margin-right: 10px;
}